.header-a{
    display: flex;
    max-height: 50px;
    min-height: 45px;
    align-items: center;
    padding-left: 50px;
    background-color:rgb(149, 154, 74);
}
.header-a-1{
    display: flex;
    justify-content: center;
    
}
.header-wat{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header-mail{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 100px;
}
.header-a-2{
    display: flex;
    justify-content: center;
    padding-left: 500px;
}
.header-insta{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 100px;
}
.header-face{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 100px;
}
.header-twit{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 100px;
}