.blog {
  background-color: rgb(149, 154, 74);
  height: 300px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.blog-1 {
  align-items: center;
  color: #fff;
}

.blog-1 h1 {
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  padding-top: 100px;
  animation-duration: 8s;
  animation-name: slide-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  cursor: pointer;
}

@keyframes slide-in {
  from {
    translate: 5vw 0;
    scale: 100% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* @keyframes grow-shrink {
  25%,
  75% {
    scale: 100%;
  }

  50% {
    scale: 200%;
    color: magenta;
  }
} */

.blog-2 {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  background-size: cover;
  height: 50px;
  width: 180px;
  text-align: center;
  margin-top: 100px;
  border: inset;
  border-radius: 10px;
  border-color: rgb(149, 154, 74);
  align-items: center;
  color: rgb(149, 154, 74);

}

.blog-3 {
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.blog-3 h6 {
  font-size: smaller;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}



* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  /* padding: 20px; */
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding-top: 50px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: lightgoldenrodyellow;
  text-align: center;
  background: rgb(60, 49, 77);
  height: 200px;
}
.header h6{
  color: #fff;
  font-size: medium;
  letter-spacing: 0.5rem;
  padding-top: 50px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg1 {
  background-color: #aaa;
  height: 400px;
  width: 50%;
  padding: 10px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 5px;
}

.card h2 {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.card h5 {
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}

.card h1 {
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bolder;
}

.card h4 {
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.card p {
  font-size: smaller;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  width: 100px;
  height: 60px;
  border: none;
  border-radius: 5px;
  color: brown;
}

.btn:hover {
  color: rgb(71, 31, 3);
}

/* Footer */
/* .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  } */

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}