:root {
    --primary-color: #959A4A;
    --secondary-color: #5b3889;
    --text-color-light: #ffffff;
    --text-color-dark: #333;
    --font-family-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-family-secondary: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-family-monospace: 'Courier New', Courier, monospace;
}

/* === Global Styling === */
body {
    font-family: var(--font-family-secondary); 
    background-color: #222;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* === Hero Section Wrapper === */
  .home {
    background-size: cover;
    background-color: whitesmoke;
  }
  
 

  

  
  
  
 
  
  

