.my-header {
    background-color:#fff;
    color: rgb(149, 154, 74);

}

.my-Logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.my-header-a {
    /* padding-top: 10px; */
    border: none;
    color: rgb(149, 154, 74);
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.my-header-a1 {
    color: rgb(149, 154, 74);
    font-style: italic;
    font-size: x-small;

}
@media (min-width: 600px) {
    .my-header {
      text-align: left;
      padding: 20px 40px;
    }
    .nav {
      float: right;
    }
    .nav a {
      font-size: 18px;
    }
  }
  
  /* Desktop (min-width: 900px) */
  @media (min-width: 900px) {
    .container {
      display: flex;
      justify-content: space-between;
    }
    .content {
      flex: 2;
      margin-right: 20px;
    }
    .sidebar {
      flex: 1;
      background-color: #f1f1f1;
      padding: 20px;
    }
  }