/* src/Footer.css */

.my-footer {
    background-color: #3B314C; /* Custom background color */
  }
  
  .footer-logo {
    text-align: center;
  }
  
  .my-footer-1 {
    padding: 2rem 0;
  }
  
  .my-footer-2 {
    background-color: #2D2D2D; /* Darker background for the bottom section */
  }
  
  .footer-links h3 {
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #B3B3B3; /* Light grey color for links */
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #FFFFFF; /* On hover, change link color to white */
  }
  
  .footer-social ul {
    display: flex;
    gap: 20px;
  }
  
  .footer-social a {
    color: white;
    transition: color 0.3s;
  }
  
  .footer-social a:hover {
    color: #4CAF50; /* Green on hover for social media links */
  }
  
  .footer-rights {
    text-align: center;
    margin-top: 10px;
  }
  