.about {
    background-color: rgb(149, 154, 74);
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.about-a {
    align-items: center;
    color: #fff;
}

.about-a h1 {
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    padding-top: 100px;
}

.about-b {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    background-size: cover;
    height: 50px;
    width: 180px;
    text-align: center;
    margin-top: 100px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
    align-items: center;
    color: rgb(149, 154, 74);

}
.about-b-home{
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.about-b h6{
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.my-about {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: space-around;
    padding-left: 10px;
}

.my-about-a {
    color: brown;
    cursor: pointer;

}

.my-image {
    margin-top: 0;
    height: 400px;
    width: 450px;
    cursor: pointer;
}

.my-about-b {
    color: brown;
    cursor: pointer;

}

.my-about-c {
    color: brown;
    cursor: pointer;

}

.my-about-d {
    color: brown;
    cursor: pointer;

}

.my-about p {
    margin: 0;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-weight: bold;
    padding-top: 5px;
}

.my-about-categories {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.about-c{
    background-color: #fff;
    padding-left: 50px;
    margin-top: 100px;
}
.about-c-2 h4{
    color: rgb(149, 154, 74);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-top: 50px;
}
.about-c-3{
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 30px;
}
.about-c-4 p{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    padding-top: 30px;   
}
.about-c-0{
    display: flex;
    justify-content: space-between;
}
.about-c-5{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-left: 50px;
    margin-bottom: 50px;
}
.about-c-5a{
    height: 300px;
    width: 280px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
    align-items: center;
    background-image: url("../../assets/images/myNationImg88.jpeg");
    background-size: cover;
    cursor: pointer;
    
}
.about-c-5a:hover{
    background-image: url("../../assets/images/myNationImg19.jpg");
    background-size: cover;
    animation-duration: 15s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}
@keyframes slide-in {
    from {
      translate: 0.03vw 0;
      scale: 100% 1;
    }
  
    to {
      translate: -5 0;
      scale: 200% 1;
    }
  }
.about-c-5b{
    height: 250px;
    width: 280px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
    background-image: url("../../assets/images/myNationImg95.jpeg");
    background-size: cover;
    cursor: pointer;
}
.about-c-5b:hover{
    background-image: url("../../assets/images/myNationImg92.jpeg");
    background-size: cover;
    animation-duration: 15s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}
@keyframes slide-in {
    from {
      translate: 0.03vw 0;
      scale: 100% 1;
    }
  
    to {
      translate: -5 0;
      scale: 200% 1;
    }
  }
.about-c-5c{
    height: 200px;
    width: 280px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
    background-image: url("../../assets/images/myNationImg73.jpeg");
    background-size: cover;
    cursor: pointer;
}
.about-c-5c:hover{
    background-image: url("../../assets/images/myNationImg72.jpeg");
    background-size: cover;
    animation-duration: 15s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}
@keyframes slide-in {
    from {
      translate: 0.03vw 0;
      scale: 100% 1;
    }
  
    to {
      translate: -5 0;
      scale: 200% 1;
    }
  }
.about-c-5d{
    height: 300px;
    width: 280px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
    margin-left: 100px;
    margin-bottom: 40px;
    background-image: url("../../assets/images/myNationImg81.jpeg");
    background-size: cover;
    cursor: pointer;
}
.about-c-5d:hover{
    background-image: url("../../assets/images/myNationImg8.png");
    background-size: cover;
    animation-duration: 15s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor: pointer;
}
@keyframes slide-in {
    from {
      translate: 0.03vw 0;
      scale: 100% 1;
    }
  
    to {
      translate: -5 0;
      scale: 200% 1;
    }
  }
.about-c-5 h1{
    color: #fff;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}
.about-d{
    margin-top: 100px;
    height: 650px;
    background-color: rgb(59, 49, 76);
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.about-d-img{
    padding-top: 120px;
    height: 450px;
    width: 600px;
}
.about-d-1a{
    color: rgb(251,4,85);
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}
.about-d-1a h4{
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-right: 5px;
}
.about-d-1a h4:hover{
    color: rgb(149, 154, 74);
    cursor: pointer;
}
.about-d-1b{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.about-d-1b-a{
    background-color: #fff;
    height: 60px;
    width: 60px;
    padding-top: 10px;
    margin-right: 5px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
}
.about-d-1b-a:hover{
    background-color: rgb(149, 154, 74);
    cursor: pointer;
}
.about-d-1b-b{
    background-color: #fff;
    height: 60px;
    width: 60px;
    padding-top: 10px;
    margin-right: 5px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
}
.about-d-1b-b:hover{
    background-color: rgb(149, 154, 74);
    cursor: pointer;
}
.about-d-1b-c{
    background-color: #fff;
    height: 60px;
    width: 60px;
    padding-top: 10px;
    margin-right: 5px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
}
.about-d-1b-c:hover{
    background-color: rgb(149, 154, 74);
    cursor: pointer;
}
.about-d-1b-d{
    background-color: #fff;
    height: 60px;
    width: 60px;
    padding-top: 10px;
    padding-right: 10px;
    border: inset;
    border-radius: 10px;
    border-color: rgb(149, 154, 74);
}
.about-d-1b-d:hover{
    background-color: rgb(149, 154, 74);
    cursor: pointer;
}
.about-d-2 h1{
    color: #fff;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-d-1c{
    color: #fff;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-d-1d{
    color: #fff;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
}